<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQL_db_bind.Properties.Settings.DESKTOP_H65VDV2_SQLEXPRESSConnectionString"
            connectionString="Data Source=DESKTOP-H65VDV2\SQLEXPRESS;Initial Catalog=DESKTOP-H65VDV2\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>